body{
    color:white;
    
    
}
.container{
    max-width: 500px;
    margin: 0 auto;
    background-color: black ;
}
li{
    list-style: none;
    
}
img{
   width: 200px;
    display: block;
    margin: 0 auto;
    

    
}
.name{
    font-size: large;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}
.day{
    font-size: medium;
    text-transform: uppercase;
    padding: 5px;
    margin: 0;
    text-align: center;
}
.time{
    font-size: medium;
    text-transform: uppercase;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.track{
    font-size: large;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
}
a{
    font-size: medium;
    text-transform: capitalize;
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-decoration: none;
    color: purple;
    text-align: center;
}